{
  "$schema": "https://json.schemastore.org/swcrc",
  "env": {
    "targets": {
      "node": "16"
    }
  },
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "externalHelpers": true,
    "loose": true,
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    }
  },
  "module": {
    "type": "commonjs"
  }
}
